#solution {
	.hero-img-sales {
		background-image: url(../../assets/sales-blue.jpg);
		background-size: cover;
		min-height: 450px;
		@media (max-width: 935px) {
			min-height: 300px;
			background-repeat: no-repeat;
			background-size: 120%;
			background-position: 90% 20%;
		}
		@media (max-width: 635px) {
			min-height: 250px;
			background-repeat: no-repeat;
			background-size: 130%;
			background-position: 90% 20%;
		}
		.hero-txt {
			@media (max-width: 935px) {
				display: none;
			}
			width: 37%;
			padding: 23px;
			position: relative;
			top: 40px;
			left: 25px;
			background: rgba(47, 128, 237, .5);
			border-radius: 10px;
			h1 {
				margin: 0px;
				text-align: left;
				color: #fff;
				font-size: 34px;
				margin-bottom: 12px;
			}
			p {
				font-size: 19px;
				color: #fff;
			}
			.cta-home {
				margin: 1em;
				margin-left: 0;
				color: #3e3e3e;
				background: #ffffff;
			}
			.cta-home:hover {
				background: #eee !important;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}


	.hero-img {
		background-image: url(../../assets/coaching-blue.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 450px;
		@media (max-width: 935px) {
			min-height: 300px;
			background-repeat: no-repeat;
			background-size: 120%;
			background-position: 90% 20%;
		}
		@media (max-width: 635px) {
			min-height: 250px;
			background-repeat: no-repeat;
			background-size: 130%;
			background-position: 90% 20%;
		}
		.hero-txt {
			@media (max-width: 935px) {
				display: none;
			}
			width: 30%;
			padding-top: 40px;
			padding-left: 40px;
			padding-bottom: 15px;
			h1 {
				margin: 0px;
				text-align: left;
				color: #fff;
				font-size: 34px;
				margin-bottom: 12px;
			}
			p {
				font-size: 19px;
				color: #fff;
			}
			.cta-home {
				margin: 1em;
				margin-left: 0;
				background-color: #fff;
				color: #3e3e3e;
			}
			.cta-home:hover {
				background: #eee !important;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	.main-txt {
		width: 80%;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: 935px) {
			display: none;
		}
		h1 {
			margin: 20px;
			text-align: center;
			color: #fff;
			font-size: 30px;
			margin-bottom: 12px;
			@media (max-width: 935px) {
				color: #3e3e3e;
			}
		}
		p {
			font-size: 17px;
			color: #fff;
			margin: 20px;
			text-align: center;
			@media (max-width: 935px) {
				color: #727272;
			}
		}
		.cta-home {
			margin: 1em;
			margin: auto;
		}

	}
	.content-wrapper {
		width: 70%;
		margin: auto;
		@media (max-width: 935px) {
			width: 80%;
		}
		h1 {
			margin-bottom: 25px;
			font-size: 34px;
			@media (max-width: 935px) {
				font-size: 30px;
			}
		}
		p {
			width: 80%;
			margin: auto;
			font-size: 17px;
			margin-bottom: 10px;
			@media (max-width: 935px) {
				font-size: 17px;
				width: 90%;
			}
		}
		.testimonial {
			margin-top: 45px;
			p {
				color: #727272;
				font-size: 19px;
				line-height: 30px;
				margin-bottom: 20px;
			}
		}
	}

	.logo-icon {
		width: 50px;
		margin: auto;
		margin-bottom: 25px;
		margin-top: 75px;
		display: block;
	}
	.logos-container {
		.logo img {
		    width: 60%;
			margin: auto;
			display: block;
			border-radius: 10px;
			@media (max-width: 991px) {
				width: 25%;
			}
		}
		.logo img:hover {
			background-color: #f7f7f7;
			cursor: pointer;
		}
	}


	.jumbotron-page {
	  background-color: #333;
    margin-bottom: 4em;
    padding-bottom: 3em;
    p {
    	text-align: center;
    	color: #eee;

    }
    h1 {
    	color: #3e3e3e;
    	text-transform: uppercase;
			letter-spacing: .4px;
    }
	}
	ul {
		li {
			font-size: 1.125em;
			color: #727272;
		}
	}
	.solution-cover-1 {
		border-radius: 4px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.industry {
		margin-bottom: 50px;
		.box {
			padding: 10px 20px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 10px;
			margin-bottom: 30px;
	    &:hover {
	    	cursor: pointer;
	    }
		}
		.icon {
			color: black;
		  display: block;
		  font-size: 45px;
		  margin: 25px auto 10px;
		  text-align: center;
		}
		p {
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 5px;
			padding-top: 10px;
			text-align: center;
			color: #444;
		}

	}
	h2 {
		margin-bottom: 30px;
		margin-top: -50px;
	}
	.cta-home {
		background-color: $action-color;
		margin: 3em auto;
		border-radius: 8px;
		display: block;
		border: none;
		color: #fff;
		padding: 10px 25px;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		&:hover {
			cursor: pointer;
			background-color: darken(#65B14C, 7%) !important;

		}
	}
}


.cta-home {
	background-color: $action-color;
	margin: 3em auto;
	border-radius: 8px;
	display: block;
	border: none;
	color: #fff;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		background-color: darken($action-color, 5%) !important;
	}
}

.mission-statement {
	background-color: #fff;
	max-width: 1000px;
	margin: auto;
	box-sizing: border-box;
	min-height: 267px;
	margin-bottom: 4em;
	border: 1px solid #ccc;
	border-radius: 4px;

	h2 {
		font-weight: 800;
		color: #333;
		text-transform: uppercase;
		padding: .5em;
		@media (max-width: 767px) {
			font-size: 24px;
		}
	}
	p {
		padding-left: 1em;
		padding-bottom: 1em;
		line-height: 1.5em;
		padding-right: 1em;
		font-weight: 400;
		font-size: 18px;
		@media (max-width: 767px) {
			font-size: 15px;
		}
	}
}

.icon-container {
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	max-width: 265px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.home-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.icons {
	margin: auto !important;
	width: 80%;
	text-align: center;
	margin-bottom: 4em !important;
	@media (max-width: 767px) {
			margin-bottom: 2em !important;
	}
	img {
		width: 8em;
		text-align: center;
		margin: auto;
		padding: 1em;
		@media (max-width: 767px) {
			width: 6em;
		}
	}
	p {
		color: #333;
		font-size: 1.125em;
		text-transform: uppercase;
		@media (max-width: 767px) {
			font-size: 1em;
		}
	}

}

.mission-statement-img {
	width: 100%;
}

.mission-statement-container {
	width: 90%;
	margin: auto !important;
}



#solution {
	padding-top: 0px;
	.jumbotron-page {
	  background-color: #333;
    p {
    	text-align: center;
    	color: #eee;
    }
	}
.phone, .laptop {
	width: 100%;
}
	.box {
		// box-shadow: 0 1px 15px -4px rgba(0,0,0,.3);
		padding: 10px 20px;
		background-color: #f7f7f7;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	h1 {
		color: #3e3e3e;
		text-transform: uppercase;
		letter-spacing: .4px;
	}
	p {
		text-align: center;
		text-align: left;
		font-size: 1.125em;
		color: #727272;

	}
	.icon {
		display: block;
    color: #67B051;
    font-size: 50px;
    margin: 0px auto;
    text-align: center;
    margin-top: 15px;
	}
	h5 {
    color: #444;
    padding-top: 2em;
    letter-spacing: 2px;
    font-weight: 200;
    line-height: 26px;
    font-size: 1.25em;
	}
	.features {
		padding-top: .5em;
    font-size: 1.25em;
    padding-bottom: .35em;
    letter-spacing: 1px;
    color: #3e3e3e;
    text-align: center;
    font-weight: bold;
	}
	button {
		margin: auto;
		display: block;
		border: 2px solid white;
		background-color: transparent;
		color: white;
		padding: 10px 24px;
		font-size: 1.5em;
	}
	.cta-home {
		background-color: $action-color;
		margin: 3em auto;
		border-radius: 8px;
		display: block;
		border: none;
		color: #fff;
		padding: 10px 25px;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:hover {
			cursor: pointer;
			background-color: darken($action-color, 5%) !important;
		}
	}


}
