header {
  width: 100%;
  display: block;
  background-color: #fff;
  margin-top: 0px;
  font-family: "Open Sans";
  box-shadow: 0px -10px 20px 16px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0px -10px 20px 16px rgba(0, 0, 0, 0.19);
}

.site-logo {
  display: inline-block;
  margin: 0;
  margin-left: 0.25em;
  font-size: 100%;
  white-space: nowrap;
  padding: 10px;
  padding-right: 0;
}
.site-logo img {
  height: 40px;
  padding: 2px;
  margin-bottom: 1px;
  margin-top: 0px;
}
@media (max-width: 935px) {
  .site-logo {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
}

.primary-menu {
  width: 40%;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  padding-left: 0px;
}
@media (max-width: 935px) {
  .primary-menu {
    padding-left: 0px;
    width: 100%;
  }
}
@media (max-width: 935px) {
  .primary-menu .dropdown-menu {
    border-radius: 0px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
}
.primary-menu .dropdown-menu > li > a {
  padding: 7px 20px;
  font-size: 16px;
}
@media (max-width: 935px) {
  .primary-menu .dropdown-menu > li > a {
    padding: 10px 20px;
  }
}
.primary-menu .open > .dropdown-menu {
  margin-top: 10px;
}
@media (max-width: 935px) {
  .primary-menu .open > .dropdown-menu {
    margin-top: -2px;
    border-radius: 0px;
  }
}

.primary-menu li {
  z-index: 500;
  position: relative;
}
.primary-menu li:hover {
  cursor: pointer;
}
@media (max-width: 935px) {
  .primary-menu li {
    display: block;
    text-align: center;
    width: 100vw;
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
  }
}

.nav-signin {
  float: right;
}
.nav-signin:hover {
  cursor: pointer !important;
}
.nav-signin a {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
@media (max-width: 935px) {
  .nav-signin {
    float: none;
  }
}
@media (max-width: 935px) {
  .nav-signin {
    display: block;
    text-align: center;
    background-color: #fff;
    width: 100vw;
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
    border-left: none;
  }
}

.primary-menu-link {
  display: inline-block;
}

.free-account {
  float: right;
  margin-top: 27px;
  margin-right: 15px;
  list-style: none;
}
@media (max-width: 935px) {
  .free-account {
    float: none;
    width: 100%;
    margin-top: 0;
    background: #fff;
    margin-top: 18px;
  }
}
.free-account a {
  background: #2F80ED;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 15px;
  position: relative;
  top: 3px;
}
.free-account a:hover {
  text-decoration: none;
  color: #fff;
  background: #1872eb;
}
@media (max-width: 935px) {
  .free-account a {
    display: block;
    text-align: center;
    color: #2F80ED;
    background: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 17px;
  }
  .free-account a:hover {
    text-decoration: none;
    color: #1366d6;
    background: #fff;
  }
}

.primary-menu-link a, .dropdown-link {
  padding: 30px 20px 30px 20px;
  color: #3e3e3e;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.primary-menu-link a:hover, .dropdown-link:hover {
  text-decoration: none;
  color: #aaa;
}
.primary-menu-link a:focus {
  text-decoration: none;
  color: #3e3e3e;
}
@media (max-width: 935px) {
  .primary-menu-link a, .dropdown-link {
    padding: 23px 10px 20px 10px;
  }
}
@media (max-width: 935px) {
  .primary-menu-link a, .dropdown-link {
    color: #3e3e3e;
    padding: 1.25em;
  }
  .primary-menu-link a:hover, .dropdown-link:hover {
    background-color: transparent;
    color: #777;
  }
}

.btn-group-jumbotron {
  margin-left: 30%;
  margin-right: auto;
  display: block;
}

.footer-wrapper {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-top: 0.4em;
  color: #a5a5a5;
  padding-bottom: 2em;
  -webkit-box-shadow: 0px -6px 20px -9px rgba(0, 0, 0, 0.19);
  box-shadow: 0px -6px 20px -9px rgba(0, 0, 0, 0.19);
}
.footer-wrapper img {
  display: block;
  margin: auto;
  margin-top: 1em;
  width: 125px;
}

.footer {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 670px) {
  .footer {
    display: block !important;
  }
}
.footer h1 {
  font-size: 1.25em;
  letter-spacing: 0.5px;
  margin: 20px;
  color: #3e3e3e;
  font-style: italic;
}

.footer p {
  margin: 0;
  text-align: center;
  font-size: 1.125em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer p:hover {
  overflow: inherit;
  white-space: inherit;
}

.footer-title {
  margin: 1em 10px 0.5em 0px;
  font-weight: 600;
  color: #595857;
  color: white;
  font-size: 1.2em;
}

.footer a {
  color: #2F80ED;
  text-decoration: none;
}
.footer a:hover, .footer a:active, .footer a:focus {
  color: #1872eb;
}

.footer p {
  margin: 0.3em 0.2em;
  font-weight: 200;
}

.footer a:hover, .footer a:active {
  text-decoration: underline;
}

.social {
  text-align: center;
  margin-bottom: 10px;
}
.social .fab {
  color: #65B14C;
  margin-right: 5px;
  font-size: 1.25em;
}

#copyright {
  text-align: center;
  color: #727272;
  font-size: 1.125em;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #aaa;
  padding: 1.5em 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#copyright a {
  text-decoration: none;
}
#copyright a:hover {
  text-decoration: underline;
}

#success_message {
  display: none;
}

.btn-send-message {
  background-color: #f14c2e;
}

.input-group {
  width: 100%;
}

#send-email {
  width: 100%;
}

.form {
  margin: 0em auto;
  width: 40%;
}
@media (max-width: 900px) {
  .form {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .form {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .form {
    width: 90%;
  }
}

.form-horizontal .control-label {
  padding-top: 0.7em !important;
  font-size: 1.2em !important;
  font-weight: 200 !important;
}

.form-control {
  font-weight: 400;
  height: 42px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.input-group-addon {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.form-group .form-textbox {
  padding-bottom: 4em;
  padding-top: 1.5em;
}

textarea.form-control {
  height: 8em !important;
}

#btn-positive-submit {
  display: inline-block !important;
  background: #2F80ED;
  border-radius: 10px;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  font-size: 1.25em;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#btn-positive-submit:hover {
  color: white !important;
  background: #1872eb;
}

@media (max-width: 870px) {
  .product-container {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}

@media (max-width: 870px) {
  .cart-container {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}

.shopping-cart {
  background-color: #f7fafa;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.6em;
}

#paypal-btn {
  width: 100%;
}

#paypal {
  height: 41px;
}

.shopping-cart-title {
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5em;
}

.product-header {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 0.5em;
  background-color: #eee;
  max-width: 100%;
}

.thumb-img {
  width: 100%;
  height: auto;
}

.product-main {
  background-color: #f7fafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 0.6em;
  margin-bottom: 1.5em;
  width: 100% !important;
}

.product-main-row {
  width: 100%;
}

.product-name {
  display: inline-block;
  margin-top: 0px;
  width: 50%;
  color: #444;
  padding-left: 0.25em;
  margin-top: 9px;
}
@media (max-width: 550px) {
  .product-name {
    display: inline-block;
    width: 70%;
  }
}
@media (max-width: 400px) {
  .product-name {
    font-size: 1.25em;
  }
}

.product-price-add {
  float: right;
}
@media (max-width: 550px) {
  .product-price-add {
    float: none;
    display: block;
    width: 100%;
  }
}

.price {
  display: inline-block;
  margin-top: -5px;
  padding-left: 0.5em;
  font-size: 1.5em;
  float: right;
  font-weight: 300;
  color: #f14c2e;
}
@media (max-width: 400px) {
  .price {
    font-size: 1.75em;
  }
}

#btn-add-to-cart {
  display: inline-block;
  background: #f14c2e;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #f14c2e 0%, #d8452e 100%);
  color: white;
  text-align: center;
  margin: 0 auto;
  float: right;
  position: relative;
  top: 5px;
}
#btn-add-to-cart:hover {
  color: white !important;
  background: #e93110;
}
@media (max-width: 550px) {
  #btn-add-to-cart {
    display: none;
  }
}

#btn-add-to-cart-mobile {
  background: #f14c2e;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #f14c2e 0%, #d8452e 100%);
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 0.65em;
}
#btn-add-to-cart-mobile:hover {
  color: white !important;
  background: #d62d0e;
}
@media (max-width: 550px) {
  #btn-add-to-cart-mobile {
    display: block;
    float: none;
    width: 100%;
    margin-top: 0.5em;
  }
}

#btn-more-info {
  display: block;
  text-shadow: 0 -1px 1px #8FA4C2;
  background: #d5d5d5;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #A1B9DB 0%, #8FA4C2 100%);
  color: #fff !important;
  text-align: center;
  padding: 6px 12px;
  margin-left: 1em;
  margin-bottom: 1em;
}
#btn-more-info:hover {
  color: #fff !important;
  background: #8da3c1;
}
@media (max-width: 550px) {
  #btn-more-info {
    position: static;
    display: block;
    padding: 0.65em;
    float: none;
    width: 100%;
    margin-top: 0.5em;
    margin-left: 0em;
    margin-bottom: 0em;
  }
}

.description {
  margin-top: 0em;
  width: 100%;
  margin-right: 0px;
  display: inline-block;
  color: #888;
}

.artist-name {
  margin-top: 0em;
  margin-right: 0px;
  display: inline-block;
  font-weight: bold;
}

.product-info {
  width: 100%;
}

.product-image {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  min-width: 9em;
  float: right;
}

#faq {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 7em !important;
}

.accordian {
  margin-bottom: 2em;
  margin-top: 4em;
}

.faculty h1 {
  margin-bottom: 2em !important;
}

.faculty:last-child {
  margin-bottom: 4em;
}

.social {
  font-size: 29px;
  color: #444;
}

.faculty {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.faculty h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #eee;
  margin-bottom: 1em;
}
.faculty .box {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 80px;
  margin: auto;
  margin-bottom: 35px;
  max-width: 440px;
}
.faculty .box h1 {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.faculty .box p {
  padding: 0 1em 1em;
  text-align: left;
  font-size: 1.125em;
  font-weight: 400;
}
.faculty .box .icon {
  display: block;
  color: #222;
  font-size: 30px;
  margin: 0px auto;
  text-align: center;
  margin-top: 24px;
}
.faculty .box .title {
  padding-top: 0.5em;
  font-size: 1.25em;
  padding-bottom: 0.35em;
  letter-spacing: 1px;
  color: #444;
  text-align: center;
  font-weight: bold;
  font-family: Quicksand;
}

.cards:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 767px) {
  .cards {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 450px) {
  .cards {
    width: 90%;
    margin: auto;
  }
}
.cards img {
  text-align: center;
  width: 100%;
}
.cards .details {
  text-align: center;
  padding: 1em 0.5em;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 30px;
}
.cards .details .name {
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  margin-bottom: 2px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
}
.cards .details .title {
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0em 1.125em;
  height: 3em;
  width: 100%;
  overflow: hidden;
  /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
}
.cards .details p:first-child:before {
  content: " - ";
}
.cards .details p:first-child:after {
  content: " - ";
}

#team {
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#team .hero-img-team {
  background-image: url(../../assets/space.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: 7% 45%;
}
@media (max-width: 935px) {
  #team .hero-img-team {
    min-height: 331px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 95% 62%;
  }
}
@media (max-width: 635px) {
  #team .hero-img-team {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 90% 47%;
  }
}
#team .hero-img-team .hero-txt {
  width: 30%;
  width: 37%;
  padding: 23px;
  position: relative;
  top: 40px;
  left: 25px;
  background: rgba(0, 0, 0, 0.75);
}
@media (max-width: 935px) {
  #team .hero-img-team .hero-txt {
    display: none;
  }
}
#team .hero-img-team .hero-txt h1 {
  margin: 0px;
  text-align: left;
  color: #ddd;
  font-size: 34px;
  margin-bottom: 12px;
}
#team .hero-img-team .hero-txt p {
  font-size: 19px;
  color: #ddd;
}
#team .hero-img-team .hero-txt .cta-home {
  margin: 1em;
  margin-left: 0;
}
#team .main-txt {
  margin-top: 50px;
  width: 90%;
}
@media (min-width: 935px) {
  #team .main-txt {
    display: none;
  }
}
#team .main-txt h1 {
  margin: 20px;
  text-align: left;
  color: #fff;
  font-size: 30px;
  margin-bottom: 12px;
}
#team .main-txt p {
  font-size: 19px;
  color: #fff;
  margin: 20px;
}
#team .main-txt .cta-home {
  margin: 1em;
  margin-left: 20px;
}
#team .content-wrapper {
  width: 70%;
  margin: auto;
}
@media (max-width: 935px) {
  #team .content-wrapper {
    width: 80%;
  }
}
#team .content-wrapper h1 {
  margin-bottom: 25px;
  font-size: 34px;
  color: #fff;
}
@media (max-width: 935px) {
  #team .content-wrapper h1 {
    font-size: 30px;
  }
}
#team .content-wrapper p {
  width: 80%;
  margin: auto;
  color: #ccc;
  font-size: 17px;
  margin-bottom: 10px;
}
@media (max-width: 935px) {
  #team .content-wrapper p {
    font-size: 17px;
    width: 90%;
  }
}
#team .content-wrapper .testimonial {
  margin-top: 45px;
}
#team .content-wrapper .testimonial p {
  color: #727272;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 20px;
}
#team .logo-icon {
  width: 50px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 75px;
  display: block;
}
#team li {
  font-size: 1.25em;
  font-family: Quicksand, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ddd;
  font-weight: 400;
  margin-bottom: 15px;
}

#modal {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 90%;
  margin: auto;
  padding: 2em 0.5em;
}
#modal .roadmap-modal img {
  border: none;
  width: 90%;
  height: auto;
}
#modal .roadmap-modal .roadmap-container {
  background: #eee;
  border: 1px solid #dedede;
  border-radius: 4px;
}
#modal h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 6px;
}
#modal h1:first-child:before {
  content: " - ";
}
#modal h1:first-child:after {
  content: " - ";
}
#modal h2 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 2em;
}
#modal p {
  line-height: 25px;
  font-size: 1.125em;
}
#modal img {
  margin: 7px 20px 15px 0px;
  height: 220px;
  width: 220px;
  border: 2.5px solid #ddd;
}
#modal .underconstruction {
  margin: auto;
  display: block;
  height: 220px;
  width: 220px;
  border: none;
}
#modal .close-modal {
  background-color: #ddd;
  font-size: 1.35em;
  padding: 5px;
  position: absolute;
  top: 6px;
  right: 6px;
}
#modal .close-modal:hover {
  cursor: pointer;
}
#modal .fa-check-circle-o {
  text-align: center;
  margin: auto;
  display: block;
  font-size: 7em;
  margin-top: 0.25em;
  color: #2F80ED;
}

.modal-content {
  border-radius: 0px !important;
}

#solution .hero-img-sales {
  background-image: url(../../assets/sales-blue.jpg);
  background-size: cover;
  min-height: 450px;
}
@media (max-width: 935px) {
  #solution .hero-img-sales {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 90% 20%;
  }
}
@media (max-width: 635px) {
  #solution .hero-img-sales {
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 90% 20%;
  }
}
#solution .hero-img-sales .hero-txt {
  width: 37%;
  padding: 23px;
  position: relative;
  top: 40px;
  left: 25px;
  background: rgba(47, 128, 237, 0.5);
  border-radius: 10px;
}
@media (max-width: 935px) {
  #solution .hero-img-sales .hero-txt {
    display: none;
  }
}
#solution .hero-img-sales .hero-txt h1 {
  margin: 0px;
  text-align: left;
  color: #fff;
  font-size: 34px;
  margin-bottom: 12px;
}
#solution .hero-img-sales .hero-txt p {
  font-size: 19px;
  color: #fff;
}
#solution .hero-img-sales .hero-txt .cta-home {
  margin: 1em;
  margin-left: 0;
  color: #3e3e3e;
  background: #ffffff;
}
#solution .hero-img-sales .hero-txt .cta-home:hover {
  background: #eee !important;
}
#solution .hero-img-sales .hero-txt a:hover {
  text-decoration: none;
}
#solution .hero-img {
  background-image: url(../../assets/coaching-blue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
}
@media (max-width: 935px) {
  #solution .hero-img {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 90% 20%;
  }
}
@media (max-width: 635px) {
  #solution .hero-img {
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 90% 20%;
  }
}
#solution .hero-img .hero-txt {
  width: 30%;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 15px;
}
@media (max-width: 935px) {
  #solution .hero-img .hero-txt {
    display: none;
  }
}
#solution .hero-img .hero-txt h1 {
  margin: 0px;
  text-align: left;
  color: #fff;
  font-size: 34px;
  margin-bottom: 12px;
}
#solution .hero-img .hero-txt p {
  font-size: 19px;
  color: #fff;
}
#solution .hero-img .hero-txt .cta-home {
  margin: 1em;
  margin-left: 0;
  background-color: #fff;
  color: #3e3e3e;
}
#solution .hero-img .hero-txt .cta-home:hover {
  background: #eee !important;
}
#solution .hero-img .hero-txt a:hover {
  text-decoration: none;
}
#solution .main-txt {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 935px) {
  #solution .main-txt {
    display: none;
  }
}
#solution .main-txt h1 {
  margin: 20px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 12px;
}
@media (max-width: 935px) {
  #solution .main-txt h1 {
    color: #3e3e3e;
  }
}
#solution .main-txt p {
  font-size: 17px;
  color: #fff;
  margin: 20px;
  text-align: center;
}
@media (max-width: 935px) {
  #solution .main-txt p {
    color: #727272;
  }
}
#solution .main-txt .cta-home {
  margin: 1em;
  margin: auto;
}
#solution .content-wrapper {
  width: 70%;
  margin: auto;
}
@media (max-width: 935px) {
  #solution .content-wrapper {
    width: 80%;
  }
}
#solution .content-wrapper h1 {
  margin-bottom: 25px;
  font-size: 34px;
}
@media (max-width: 935px) {
  #solution .content-wrapper h1 {
    font-size: 30px;
  }
}
#solution .content-wrapper p {
  width: 80%;
  margin: auto;
  font-size: 17px;
  margin-bottom: 10px;
}
@media (max-width: 935px) {
  #solution .content-wrapper p {
    font-size: 17px;
    width: 90%;
  }
}
#solution .content-wrapper .testimonial {
  margin-top: 45px;
}
#solution .content-wrapper .testimonial p {
  color: #727272;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 20px;
}
#solution .logo-icon {
  width: 50px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 75px;
  display: block;
}
#solution .logos-container .logo img {
  width: 60%;
  margin: auto;
  display: block;
  border-radius: 10px;
}
@media (max-width: 991px) {
  #solution .logos-container .logo img {
    width: 25%;
  }
}
#solution .logos-container .logo img:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
#solution .jumbotron-page {
  background-color: #333;
  margin-bottom: 4em;
  padding-bottom: 3em;
}
#solution .jumbotron-page p {
  text-align: center;
  color: #eee;
}
#solution .jumbotron-page h1 {
  color: #3e3e3e;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
#solution ul li {
  font-size: 1.125em;
  color: #727272;
}
#solution .solution-cover-1 {
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
#solution .industry {
  margin-bottom: 50px;
}
#solution .industry .box {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 30px;
}
#solution .industry .box:hover {
  cursor: pointer;
}
#solution .industry .icon {
  color: black;
  display: block;
  font-size: 45px;
  margin: 25px auto 10px;
  text-align: center;
}
#solution .industry p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  color: #444;
}
#solution h2 {
  margin-bottom: 30px;
  margin-top: -50px;
}
#solution .cta-home {
  background-color: #2F80ED;
  margin: 3em auto;
  border-radius: 8px;
  display: block;
  border: none;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
#solution .cta-home:hover {
  cursor: pointer;
  background-color: #579841 !important;
}

.cta-home {
  background-color: #2F80ED;
  margin: 3em auto;
  border-radius: 8px;
  display: block;
  border: none;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
}
.cta-home:hover {
  cursor: pointer;
  background-color: #1872eb !important;
}

.mission-statement {
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  min-height: 267px;
  margin-bottom: 4em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.mission-statement h2 {
  font-weight: 800;
  color: #333;
  text-transform: uppercase;
  padding: 0.5em;
}
@media (max-width: 767px) {
  .mission-statement h2 {
    font-size: 24px;
  }
}
.mission-statement p {
  padding-left: 1em;
  padding-bottom: 1em;
  line-height: 1.5em;
  padding-right: 1em;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 767px) {
  .mission-statement p {
    font-size: 15px;
  }
}

.icon-container {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 265px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.home-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.icons {
  margin: auto !important;
  width: 80%;
  text-align: center;
  margin-bottom: 4em !important;
}
@media (max-width: 767px) {
  .icons {
    margin-bottom: 2em !important;
  }
}
.icons img {
  width: 8em;
  text-align: center;
  margin: auto;
  padding: 1em;
}
@media (max-width: 767px) {
  .icons img {
    width: 6em;
  }
}
.icons p {
  color: #333;
  font-size: 1.125em;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .icons p {
    font-size: 1em;
  }
}

.mission-statement-img {
  width: 100%;
}

.mission-statement-container {
  width: 90%;
  margin: auto !important;
}

#solution {
  padding-top: 0px;
}
#solution .jumbotron-page {
  background-color: #333;
}
#solution .jumbotron-page p {
  text-align: center;
  color: #eee;
}
#solution .phone, #solution .laptop {
  width: 100%;
}
#solution .box {
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 10px;
}
#solution h1 {
  color: #3e3e3e;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
#solution p {
  text-align: center;
  text-align: left;
  font-size: 1.125em;
  color: #727272;
}
#solution .icon {
  display: block;
  color: #67B051;
  font-size: 50px;
  margin: 0px auto;
  text-align: center;
  margin-top: 15px;
}
#solution h5 {
  color: #444;
  padding-top: 2em;
  letter-spacing: 2px;
  font-weight: 200;
  line-height: 26px;
  font-size: 1.25em;
}
#solution .features {
  padding-top: 0.5em;
  font-size: 1.25em;
  padding-bottom: 0.35em;
  letter-spacing: 1px;
  color: #3e3e3e;
  text-align: center;
  font-weight: bold;
}
#solution button {
  margin: auto;
  display: block;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 24px;
  font-size: 1.5em;
}
#solution .cta-home {
  background-color: #2F80ED;
  margin: 3em auto;
  border-radius: 8px;
  display: block;
  border: none;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#solution .cta-home:hover {
  cursor: pointer;
  background-color: #1872eb !important;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html {
  position: relative;
  z-index: -1000;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  margin: 0px;
}

h1 {
  color: #0f2105;
  text-align: center;
  margin-top: 5em;
}

h2 {
  text-align: center;
}

.page-title {
  margin-top: 0em;
  padding: 1.25em 0 0em 0;
  color: #6d6e70;
  font-weight: 800;
}
.page-title h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #3e3e3e;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.page-container {
  width: 80%;
  margin: auto;
  max-width: 1100px;
}

.menu {
  color: #3e3e3e;
  font-size: 1.5em !important;
  position: absolute;
  top: 19px;
  right: 30px;
}
.menu:hover {
  cursor: pointer;
}

video {
  z-index: 0;
  position: relative;
  width: 100vw;
}
@media (max-width: 600px) {
  video {
    display: none !important;
  }
}

.jumbo-img {
  z-index: -10;
  position: relative;
  width: 100vw !important;
}

.app-store {
  display: none;
}
.app-store img {
  width: 150px;
  display: inline-block;
}
@media (max-width: 1000px) {
  .app-store {
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.jumbotron-sm {
  padding: 15px 30px;
  background: url(../assets/girls-blue.jpg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 0% 75%;
}
@media (min-width: 1200px) {
  .jumbotron-sm {
    min-height: 700px;
    background-size: 100%;
    background-position: 0%;
  }
}
@media (min-width: 1015px) and (max-width: 1200px) {
  .jumbotron-sm {
    min-height: 624px;
    background-position: 0%;
  }
}
@media (max-width: 1015px) {
  .jumbotron-sm {
    min-height: 530px;
    background-size: 100%;
    background-position: 0%;
  }
}
@media (max-width: 950px) {
  .jumbotron-sm {
    min-height: 517px;
    background-position: 0%;
  }
}
@media (max-width: 816px) {
  .jumbotron-sm {
    min-height: 400px;
    background-position: 0%;
  }
}
@media (max-width: 680px) {
  .jumbotron-sm {
    min-height: 350px;
    background-position: 0%;
  }
}
@media (max-width: 616px) {
  .jumbotron-sm {
    min-height: 300px;
    background-position: 0%;
    background-size: 120%;
  }
}
@media (max-width: 500px) {
  .jumbotron-sm {
    min-height: 442px;
    background-position: 0%;
    background-size: 150%;
  }
}
@media (max-width: 400px) {
  .jumbotron-sm {
    min-height: 415px;
    background-position: 0% 83%;
    background-size: 170%;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 350px) {
  .jumbotron-sm {
    min-height: 100px;
    background-position: 0%;
    background-size: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.jumbotron-sm .jumbo-container {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.jumbotron-sm h1 {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 2.75em;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
  padding-top: 240px;
}
@media (max-width: 1100px) {
  .jumbotron-sm h1 {
    padding-top: 220px;
  }
}
@media (max-width: 991px) {
  .jumbotron-sm h1 {
    font-size: 2.25em;
    padding-top: 200px;
  }
}
@media (max-width: 900px) {
  .jumbotron-sm h1 {
    font-size: 2em;
    padding-top: 175px;
  }
}
@media (max-width: 816px) {
  .jumbotron-sm h1 {
    font-size: 2em;
    padding-top: 137px;
  }
}
@media (max-width: 716px) {
  .jumbotron-sm h1 {
    font-size: 2em;
    padding-top: 140px;
  }
}
@media (max-width: 500px) {
  .jumbotron-sm h1 {
    font-size: 2em;
    padding-top: 160px;
  }
}
@media (max-width: 450px) {
  .jumbotron-sm h1 {
    font-size: 1.95em;
    padding-top: 20px;
    margin-bottom: 5px;
  }
}
@media (max-width: 400px) {
  .jumbotron-sm h1 {
    font-size: 1.95em;
    padding-top: 146px;
    margin-bottom: 5px;
  }
}
.jumbotron-sm h2 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2em;
}
@media (max-width: 900px) {
  .jumbotron-sm h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 700px) {
  .jumbotron-sm h2 {
    font-size: 1.35em;
  }
}
@media (max-width: 500px) {
  .jumbotron-sm h2 {
    font-size: 1.25em;
  }
}
@media (max-width: 400px) {
  .jumbotron-sm h2 {
    font-size: 1.1em;
  }
}

#home .home-cover-0 {
  background: #fff !important;
  padding-top: 45px;
  padding-bottom: 55px;
}
#home .home-cover-0 h2 {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3e3e3e;
  display: inline-block;
  position: relative;
  top: 5px;
}
@media (max-width: 950px) {
  #home .home-cover-0 h2 {
    font-size: 22px;
  }
}
#home .home-cover-1 {
  font-family: "Open Sans";
  background: #f7f7f7;
  padding: 30px 0px 0px 30px;
  width: 85%;
  display: block;
  margin: auto;
  border-radius: 20px;
  max-width: 1000px;
}
@media (max-width: 850px) {
  #home .home-cover-1 {
    width: 90%;
  }
}
@media (max-width: 450px) {
  #home .home-cover-1 {
    width: 95%;
  }
}
#home .home-cover-1 .btn {
  background: #66B151;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  #home .home-cover-1 .btn {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
}
#home p {
  color: #727272;
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-right: 10px;
}
@media (max-width: 450px) {
  #home p {
    font-size: 14px;
  }
}
#home img.engagement-icon {
  width: 45px;
  margin-right: 10px;
}
@media (max-width: 950px) {
  #home img.engagement-icon {
    width: 40px;
  }
}
#home img.laptop {
  width: 100%;
  position: relative;
}
#home h3 {
  display: inline-block;
  color: #3e3e3e;
  position: relative;
  top: 5px;
  left: 5px;
}
@media (max-width: 950px) {
  #home h3 {
    font-size: 22px;
  }
}
#home img.home-icons {
  width: 40px;
}

.jumbotron {
  background-size: 100%;
  background-color: transparent !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-align: center;
  position: relative;
  width: 100vw;
  margin-top: -40%;
  margin-bottom: -20% !important;
}
@media (max-width: 1000px) {
  .jumbotron {
    font-size: 1.125em;
  }
}
@media (max-width: 600px) {
  .jumbotron {
    display: none !important;
  }
}
.jumbotron img {
  width: 170px;
}
.jumbotron h1 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #eee !important;
  text-shadow: 2px 2px 2px #000;
}
@media (max-width: 1000px) {
  .jumbotron h1 {
    font-size: 2.5em !important;
  }
}
.jumbotron h2 {
  color: #eee;
  text-shadow: 2px 2px 2px #000;
  width: 60%;
  font-weight: 300;
  margin: auto;
  margin-bottom: 20px;
  font-size: 2em;
}
@media (max-width: 1000px) {
  .jumbotron h2 {
    font-size: 1.125em;
  }
}

.page-text {
  text-align: center;
}

.page-text {
  font-size: 1.25em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
  margin-bottom: 15px;
}

h6 {
  color: #0f2105;
  font-size: 1.25em;
  text-align: center;
  margin-top: 5em;
}

h2 .btn-main {
  background-color: #fff;
  border-radius: 0px;
  color: #3e3e3e;
  text-transform: uppercase;
  font-family: "Open Sans";
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  margin: auto;
}
h2 .btn-main:hover {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-top: 3em;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3em;
}

#wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}
#wrapper input, #wrapper button {
  margin: 0 auto;
  border-radius: 4px;
  padding: 0.5em;
}

.hidden {
  display: none;
}

form {
  text-align: center;
}

input[placeholder="you@yours.com"], button[type=reset] {
  display: inline;
  margin: 0px;
  border: none;
  padding: 1em !important;
  font-size: 1.2em;
}

button[type=reset] {
  position: relative;
  left: -5px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border: none;
  background-color: #f14c2e;
  color: #fff;
}
button[type=reset]:hover {
  cursor: pointer;
}
button[type=reset]:active {
  outline: none !important;
}

input[placeholder="you@yours.com"] {
  color: #f7f5f2;
  background: #4d4e4f;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

footer {
  background-color: #f2f2f2;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  position: fixed;
  bottom: 0px;
  color: #6d6e70;
  width: 100%;
}

#home .icon-container {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: none;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#home .icons h3 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
}
#home .icons p {
  text-transform: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.logos-container {
  padding: 15px;
  display: block;
  margin-bottom: 50px;
}

.logo img {
  width: 100%;
}
@media (max-width: 767px) {
  .logo img {
    width: 35%;
    display: block;
    margin: auto;
  }
}
@media (max-width: 567px) {
  .logo img {
    width: 50%;
    display: block;
    margin: auto;
  }
}

#overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  z-index: 2000;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay img {
  margin-top: 5%;
  width: 45%;
}

#overlay p {
  color: white;
  margin-top: 2em;
}

#privacy-policy {
  padding-top: 3em;
}
#privacy-policy p {
  font-weight: 400;
  color: #3e3e3e;
}
#privacy-policy b {
  display: block;
  color: #3e3e3e;
  margin-bottom: 10px;
}
#privacy-policy li {
  font-weight: 400;
  font-size: 14px;
  color: #3e3e3e;
}

.main-content {
  margin-bottom: 100px;
}
.main-content h2 {
  color: #3e3e3e;
}

/*# sourceMappingURL=main.css.map */
