@import "variables";
@import "header";
@import "footer";
@import "contact";
@import "product";
@import "faq";
@import "faculty";
@import "team";
@import "modal";
@import "solution";

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html {
	position: relative;
	z-index: -1000;
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	background-color: #fff !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: normal;
	margin: 0px;
}

h1 {
	color: #0f2105;
	text-align: center;
	margin-top: 5em;
}

h2 {
	text-align: center;
}

.page-title {
	margin-top: 0em;
	padding: 1.25em 0 0em 0;
	color: #6d6e70;
	font-weight: 800;
	h1 {
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		color: #3e3e3e;
		margin-bottom: .5em;
    margin-top: 1em;
	}
}

.page-container {
	width: 80%;
	margin: auto;
	max-width: 1100px;
}

.menu {
	color: #3e3e3e;
	font-size: 1.5em !important;
	position: absolute;
  top: 19px;
  right: 30px;
	&:hover {
		cursor: pointer;
	}
}

video {
	z-index: 0;
	position: relative;
	width: 100vw;
	@media (max-width: 600px) {
		display: none !important;
	}
}

.jumbo-img {
	z-index: -10;
	position: relative;
	width: 100vw !important;
}



.app-store {
  display: none;
  img {
  width: 150px;
  display: inline-block;
  }
  @media (max-width: 1000px) {
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}


.jumbotron-sm {
  padding: 15px 30px;
  background: url(../assets/girls-blue.jpg);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 0% 75%;
  @media (min-width: 1200px) {
    min-height: 700px;
    background-size: 100%;
    background-position: 0%;
  }
  @media (min-width: 1015px) and (max-width: 1200px) {
    min-height: 624px;
    background-position: 0%;
  }
  @media (max-width: 1015px) {
    min-height: 530px;
    background-size: 100%;
    background-position: 0%;

  }
  @media (max-width: 950px) {
    min-height: 517px;
    background-position: 0%;
  }
  @media (max-width: 816px) {
    min-height: 400px;
    background-position: 0%;
  }
  @media (max-width: 680px) {
    min-height: 350px;
    background-position: 0%;
  }
  @media (max-width: 616px) {
    min-height: 300px;
    background-position: 0%;
    background-size: 120%;
  }
  @media (max-width: 500px) {
    min-height: 442px;
    background-position: 0%;
    background-size: 150%;
  }
  @media (max-width: 400px) {
    min-height: 415px;
    background-position: 0% 83%;
    background-size: 170%;
    padding-left: 4px;
    padding-right: 4px;
  }
  @media (max-width: 350px) {
    min-height: 100px;
    background-position: 0%;
    background-size: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }

  .jumbo-container {

    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;

  }
	h1 {
    font-family: "Open Sans","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 2.75em;
    letter-spacing: 1.8px;
    margin-bottom: 10px;
    padding-top: 240px;
    @media (max-width: 1100px) {
      padding-top: 220px;
    }
    @media (max-width: 991px) {
      font-size: 2.25em;
      padding-top: 200px;
    }
    @media (max-width: 900px) {
      font-size: 2em;
      padding-top: 175px;
    }
    @media (max-width: 816px) {
      font-size: 2em;
      padding-top: 137px;
    }
    @media (max-width: 716px) {
      font-size: 2em;
      padding-top: 140px;
    }
    @media (max-width: 500px) {
      font-size: 2em;
      padding-top: 160px;
    }
    @media (max-width: 450px) {
      font-size: 1.95em;
      padding-top: 20px;
      margin-bottom: 5px;
    }
    @media (max-width: 400px) {
      font-size: 1.95em;
      padding-top: 146px;
      margin-bottom: 5px;
    }
	}
		h2 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #555;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 2em;
    @media (max-width: 900px) {
      font-size: 1.5em;
    }
  	@media (max-width: 700px) {
  		font-size: 1.35em;
  	}
    @media (max-width: 500px) {
  		font-size: 1.25em;
  	}
    @media (max-width: 400px) {
  		font-size: 1.1em;
  	}
	}
}

#home {
  .home-cover-0 {
    background: #fff !important;
    padding-top: 45px;
    padding-bottom: 55px;
    h2 {
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #3e3e3e;
      display: inline-block;
      position: relative;
      top: 5px;
      @media (max-width: 950px) {
        font-size: 22px;
      }

    }
  }
  .home-cover-1 {
    font-family: "Open Sans";
    background: #f7f7f7;
    padding: 30px 0px 0px 30px;
    width: 85%;
    display: block;
    margin: auto;
    border-radius: 20px;
    max-width: 1000px;
    @media (max-width: 850px) {
      width: 90%;
    }
    @media (max-width: 450px) {
      width: 95%;
    }
    .btn {
      background: #66B151;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 15px;
      @media (max-width: 767px) {
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }
    }
  }
  p {
    color: #727272;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right: 10px;
    @media (max-width: 450px) {
      font-size: 14px;
    }
  }
  img.engagement-icon {
    width: 45px;
    margin-right: 10px;
    @media (max-width: 950px) {
      width: 40px;
    }
  }
  img.laptop {
    width: 100%;
    position: relative;
  }
  h3 {
    display: inline-block;
    color: #3e3e3e;
    position: relative;
    top: 5px;
    left: 5px;
    @media (max-width: 950px) {
      font-size: 22px;
    }
  }
  img.home-icons {
    width: 40px;
  }
}

.jumbotron {
	background-size: 100%;
	background-color: transparent !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	text-align: center;
	position: relative;
	width: 100vw;
	margin-top: -40%;
	margin-bottom: -20% !important;
	@media (max-width: 1000px) {
		font-size: 1.125em;
	}
	@media (max-width: 600px) {
		display: none !important;
	}




	img {
		width: 170px;
	}
	h1 {
		font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		color: #eee !important;
		text-shadow: 2px 2px 2px #000;
		@media (max-width: 1000px) {
		font-size: 2.5em !important;
	}
	}
	h2 {
		color: #eee;
		text-shadow: 2px 2px 2px #000;
		width: 60%;
		font-weight: 300;
		margin: auto;
		margin-bottom: 20px;
		font-size: 2em;
	@media (max-width: 1000px) {
		font-size: 1.125em;
	}
	}
}

.page-text {
	text-align: center;
}

.page-text {
  font-size: 1.25em;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #727272;
  font-weight: 400;
  margin-bottom: 15px;
}




h6 {
	color: #0f2105;
	font-size: 1.25em;
	text-align: center;
	margin-top: 5em;
}

h2 .btn-main {
	background-color: #fff;
	border-radius: 0px;
	color: #3e3e3e;
	text-transform: uppercase;
	font-family: "Open Sans";
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  margin: auto;
  &:hover {
    background-color: darken(#fff, 5%);
  }
}

a {
	text-decoration: none;
}

.wrapper {
	padding-top: 3em;
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 3em;
}



#wrapper {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;

	input, button {
		margin: 0 auto;
		border-radius: 4px;
		padding: .5em;
	}

}

.hidden {
	display: none;
}

form {
	text-align: center;
}

input[placeholder="you@yours.com"], button[type="reset"] {
	display: inline;
	margin: 0px;
	border: none;
	padding: 1em !important;
	font-size: 1.2em;
}


button[type="reset"] {
	position: relative;
	left: -5px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border: none;
	background-color: #f14c2e;
	color: #fff;
	&:hover {
		cursor: pointer;
	}
	&:active {
		outline: none !important;
	}
}

input[placeholder="you@yours.com"] {
	color: #f7f5f2;
    background: #4d4e4f;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}


footer {
	background-color: #f2f2f2;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 0px;
        color: #6d6e70;
    width: 100%;
}

#home {
  .icon-container {
  	background: #fff;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	border: 1px solid #ccc;
  	border-radius: 3px;
  	max-width: none;
  	display: block;
  	margin: auto;
  	margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

  }
  .icons h3 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;

  }
  .icons p {
    text-transform: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

  }
}

.logos-container {
  padding: 15px;  
  display: block;
  margin-bottom: 50px;
}
.logo {
  img {
    width: 100%;
    @media (max-width: 767px) {
      width: 35%;
      display: block;
      margin: auto;
    }
    @media (max-width: 567px) {
      width: 50%;
      display: block;
      margin: auto;
    }
  }
}

#overlay {
  background: rgba(0,0,0,0.9);
  width: 100%;
  z-index: 2000;
  height: 100vw;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay img {
margin-top: 5%;
width: 45%;
}

#overlay p {
color: white;
margin-top: 2em;
}

#privacy-policy {
  padding-top: 3em;
  p {
    font-weight: 400;
    color: #3e3e3e;
  }
  b {
    display: block;
    color: #3e3e3e;
    margin-bottom: 10px;
  }
  li {
    font-weight: 400;
    font-size: 14px;
    color: #3e3e3e;
  }
}


.main-content {
  margin-bottom: 100px;
  h2 {
    color: #3e3e3e;
  }
}
