<div id="apply" class="page-title">
	<h1>Apply</h1>
	<p class="page-text">Please complete the following to apply for admission. Please note that your information will be kept confidential and will be used only by Royal Business Academy personnel.</p>
	<div class="row apply-container">
		<div class="col-sm-12">
			<h1>Personal Information</h1>
			<div class="col-sm-6">

					<div class="form-group">
						<div class="inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input name="first_name" placeholder="First Name" class="form-control" type="text" ng-model="apc.application.first_name">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input name="preferred_name" placeholder="Preferred Name" class="form-control" type="text" ng-model="apc.application.preferred_name">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input name="native_language" placeholder="Native Language" class="form-control" type="text" ng-model="apc.application.native_language">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input name="other_languages" placeholder="Other Language(s)" class="form-control" type="text" ng-model="apc.application.other_languages">
							</div>
						</div>
					</div>


			</div>

			<div class="col-sm-6">

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="family_surname" placeholder="Family or Surname*" class="form-control" type="text" ng-model="apc.application.family_surname">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="date_of_birth" placeholder="Date of Birth*" class="form-control" type="text" ng-model="apc.application.date_of_birth">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="how_did_you_hear_about_us" placeholder="How did you hear about us?" class="form-control" type="text" ng-model="apc.application.how_did_you_hear_about_us">
						</div>
					</div>
				</div>

						<div class="form-group">
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<select name="gender" placeholder="Passport Country*" class="form-control" ng-model="apc.application.gender" ng-init="apc.application.gender = 'Gender*'">
										<option>Gender*</option>
										<option>Male</option>
										<option>Female</option>
									<select/>
								</div>
							</div>
						</div>

<!-- 				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="meaningful_service" placeholder="Describe meaningful service you have provided" class="form-control form-textbox" type="textbox">
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>

	<div class="row apply-container">
		<h1>Contact Information</h1>
		<div class="col-sm-12">
			<div class="col-sm-6">

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="street_address" placeholder="Street Address*" class="form-control" type="text" ng-model="apc.application.street_address">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="state_province" placeholder="State or Province*" class="form-control" type="text" ng-model="apc.application.state_province">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="postal_code" placeholder="Postal Code*" class="form-control" type="text" ng-model="apc.application.postal_code">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="telephone_number" placeholder="Telephone Number*" class="form-control" type="text" ng-model="apc.application.telephone_number">
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-6">

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="city" placeholder="City*" class="form-control" type="text" ng-model="apc.application.city">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="country" placeholder="Country*" class="form-control" type="text" ng-model="apc.application.country">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="email" placeholder="Email*" class="form-control" type="text" ng-model="apc.application.email">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



			<div class="row apply-container">
				<h1>Other Information</h1>
				<div class="col-sm-12">

					<div class="col-sm-6">

						<div class="form-group">
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<select name="application_year" placeholder="Passport Country*" class="form-control" ng-model="apc.application.application_year" ng-init="apc.application.application_year = 'Year for which you are applying*'">
										<option>Year for which you are applying*</option>
										<option>2016</option>
										<option>2017</option>
										<option>2018</option>
									<select/>
								</div>
							</div>
						</div>

					</div>



					<div class="col-sm-6">

						<div class="form-group">
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<select name="level_of_education" placeholder="Passport Country*" class="form-control" type="text" ng-model="apc.application.level_of_education" ng-init="apc.application.level_of_education = 'Highest Level of Education*'">
										<option>Highest Level of Education*</option>
										<option>Secondary School</option>
										<option>College</option>
									</select>
								</div>
							</div>
						</div>

					</div>
				</div>
    	</div>



			<div class="row apply-container">
				<h1>Important</h1>
				<div class="col-sm-12">
					<p class="main-text">Please email the following files to spencer@royalbusinessacademy.org:</p>
					<ul>
						<li>Photo of yourself <span ng-click="apc.open('Photo')">(More info)</span></li>
						<li>CV <span ng-click="apc.open('CV')">(More info)</span></li>
						<li>Bio <span ng-click="apc.open('Bio')">(More info)</span></li>
						<li>Personal Reference <span ng-click="apc.open('Personal Reference')">(More info)</span></li>
						<li>Professional Reference <span ng-click="apc.open('Professional Reference')">(More info)</span></li>
					</ul>
				</div>
			</div>


			<div class="row apply-container">
				<div class="col-sm-6 col-sm-offset-6">
					<div id="send-email" class="form-group">
						<button class="btn" id="btn-positive-submit" ng-click="apc.submitForm()">Send </button>
					</div>
				</div>
			</div>
		</div>
	</div>












<!-- 					<div class="form-group">
					    <label for="exampleInputFile">Please upload a photograph of yourself (please make sure your picture is in color and shows your face from the shoulders up)*</label>
					    <input type="file" id="exampleInputFile">
					    <p class="help-block"></p>
					  </div> -->



<!-- 					    <label for="exampleInputFile">Please upload a Curriculum Vitae (in PDF format)</label>
					    <input type="file" id="exampleInputFile">
					    <p class="help-block"></p>
					</div> -->


<!-- 					    <label for="exampleInputFile">Please upload a Statement of Intent indicating why you would like to attend Royal Business Academy (in PDF format)</label>
					    <input type="file" id="exampleInputFile">
					    <p class="help-block"></p>	 -->







<!-- 				<div class="col-sm-12">
					<div class="form-group">
						<div class="inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input name="meaningful_service" placeholder="Describe your business idea" class="form-control form-textbox" type="textbox">
							</div>
						</div>
					</div>
				</div> -->
