<div class="page-title faculty page-container">
	<h1>Our Faculty</h1>
		<div class="row">

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Patrick and Allyse Sedivy')">
					<img src="assets/teachers/psedivy.jpg">
					<div class="details">
						<p class="name">Patrick and Allyse Sedivy</p>
						<p class="title">Founders and Managing Directors</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Spencer Rogers')">
					<img src="assets/teachers/srogers.jpg">
					<div class="details">
						<p class="name">Spencer Rogers</p>
						<p class="title">Founder and Course Manager</p>
				  </div>
				</div>
			</div>


			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Steven Lund')">
					<img src="assets/teachers/slund.jpg">
					<div class="details">
						<p class="name">Steven Lund</p>
						<p class="title">Entreprenuership</p>
				  </div>
				</div>
			</div>

			</div>
			<div class="row">

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Alan Rogers')">
					<img src="assets/teachers/arogers.jpg">
					<div class="details">
						<p class="name">Alan Rogers</p>
						<p class="title">Finance</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Duane Free')">
					<img src="assets/teachers/dfree.jpg">
					<div class="details">
						<p class="name">Duane Free</p>
						<p class="title">Marketing and Sales</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Marcia Cornell')">
					<img src="assets/teachers/mcornell.jpg">
					<div class="details">
						<p class="name">Marcia Cornell</p>
						<p class="title">Entreprenuership</p>
				  </div>
				</div>
			</div>

			</div>
			<div class="row">

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Jim Dunford')">
					<img src="assets/teachers/jdunford.jpg">
					<div class="details">
						<p class="name">Jim Dunford</p>
						<p class="title">Entreprenuership</p>
				  </div>
				</div>
			</div>




		</div>
	</div>
	</div>
</div>
