<header ng-controller="HeaderController as hc">
    <div class="site-logo">
      <a href="index.html"><img src="assets/profile.png"/></a>
    </div>
  <ul class="primary-menu">
    <li class="primary-menu-link" ng-click="hc.goTo('about')">
      <a>About RBA</a>
    </li>
    <li class="primary-menu-link" ng-click="hc.goTo('philosophy')">
      <a>Philosophy</a>
    </li>
    <li class="primary-menu-link" ng-click="hc.goTo('courses')">
      <a>Courses</a>
    </li>
    <li class="primary-menu-link" ng-click="hc.goTo('faculty')">
      <a>Faculty</a>
    </li>
    <li class="primary-menu-link" ng-click="hc.goTo('faq')">
      <a>FAQ</a>
    </li>
    <li class="primary-menu-link" ng-click="hc.goTo('contact')">
      <a>Contact</a>
    </li>
  </ul>
    <li class="primary-menu-link nav-cart" ng-click="hc.goTo('apply')">
      <a>Apply</a>
    </li>
    <div class="clearfix"></div>
</header>
