<div id="modal">
	<h1>Form has successfully been submitted!</h1>
	<span ng-click="mc.close()" class="glyphicon glyphicon-remove close-modal"></span>
	<p>Before your application is considered complete, you must send the following files to spencer@royalbusinessacademy.org:</p>
	<ul>
		<li>Photo of yourself</li>
		<li>Curriculum Vitae</li>
		<li>Bio</li>
		<li>Personal References</li>
		<li>Professional References</li>
	</ul>
	<p><i>Details for these files are found at the bottom of the Application Page.</i></p>
</div>