<div id="apply" class="page-title">
	<h1>Contact</h1>
	<p class="page-text apply-container">Interested in trying out the software? We will reply to your message within 24 business hours.</p>
	<div class="row apply-container">
		<div class="col-sm-12" style="margin-top: 2em;">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="first_name" placeholder="Name" class="form-control" type="text" ng-model="apc.application.first_name">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-phone"></i></span>
							<input name="telephone_number" placeholder="Phone Number" class="form-control" type="text" ng-model="apc.application.telephone_number">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input name="email" placeholder="Email" class="form-control" type="text" ng-model="apc.application.email">
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


	<div class="row apply-container">
		<div class="col-sm-6 col-sm-offset-3">
			<div id="send-email" class="form-group">
				<button class="btn" id="btn-positive-submit" ng-click="apc.submitForm()" ng-disabled="apc.stupidIdiot || apc.completed">{{apc.stupidIdiot ? 'Finish form before submitting' : (apc.completed ? 'Thanks!' : 'Submit')}} </button>
			</div>
		</div>
	</div>
</div>
