<div class="container" id="courses">
	<div class="page-title">
		<h1>12 Week Course Outline</h1>
	</div>

	<div class="row">
		<div class="col-sm-12 ad">
		<img class="big-icon" src="assets/building.svg">
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p class="main-text">RBA’s curriculum introduces students to the principles and problems found in everyday business, including finance, marketing, operations, HR, and supply chain management. After acquiring the foundation skills, students apply those skills while developing and launching their own business.</p>

			<h2><i class="fa fa-sitemap"></i>Teamwork</h2>

			<p class="main-text">Teamwork and group study are a significant part of the RBA program. Students are assigned to a learning team starting the first day of the program. In addition to your assigned learning team, the classroom itself is intended to function as a large learning team, with opportunities provided to work and connect with your colleagues across the entire class.</p>

			<h2><i class="fa fa-calendar"></i>Weekly Topics</h2>

			<p class="main-text">Activities include intensive business instruction, case study review, team-building activities, hands-on interactions with successful entrepreneurs, local business visits, friendly competitions, service opportunities, and excursions for fun and learning.</p>
		<div class="col-sm-6 week-schedule">

			<h4>Week 1</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>

			<h4>Week 2</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>			

			<h4>Week 3</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>	

			<h4>Week 4</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>	

			<h4>Week 5</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>														

			<h4>Week 6</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>	

		</div>

		<div class="col-sm-6 week-schedule">

			<h4>Week 7</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>

			<h4>Week 8</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>			

			<h4>Week 9</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>	

			<h4>Week 10</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>	

			<h4>Week 11</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>														

			<h4>Week 12</h4>
			<p>Introduction, Team Building,<br>
				Core Values, Business Ethics</p>	

		</div>		
		<div class="col-sm-6">
		</div>

			
		</div>
	</div>
</div>
	


