<div ng-controller="FooterController as fc" class="footer-wrapper">
  <div class="footer">
    <div class="row">
      <div class="col-sm-12">
        <h1>"Help those you care about succeed."</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="social">
          <a target="_blank" href="https://www.linkedin.com/company/myroadmap/"><i class="fab fa-linkedin"></i></a>
          <a target="_blank" href="https://www.instagram.com/myroadmapsoftware/"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://www.facebook.com/MyRoadmapSoftware/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a>
        </div>
        <p id="copyright">© {{fc.currentYear}} by MyRoadmap. All rights reserved. Provo, UT</p>
      </div>
    </div>

  </div>
</div>




<!--     <div class="column-left footer-column">
      <h3 class="footer-title">Our Mission</h3>
      <p><a href="index.php">Become a donor</a></p>
      <p><a href="index.php"></a></p>
    </div> -->

<!--     <div class="column-center footer-column">
      <h3 class="footer-title">Site Map</h3>
      <p><a href="index.php">Home</a></p>
      <p><a href="index.php">About</a></p>
      <p><a href="index.php">Philosophy</a></p>
      <p><a href="index.php">Courses</a></p>
      <p><a href="index.php">Faculty</a></p>
      <p><a href="index.php">FAQ</a></p>
      <p><a href="index.php">Contact</a></p>
      <p><a href="index.php">Apply</a></p>
    </div> -->
