<header ng-controller="HeaderController as hc">
    <div class="site-logo">
      <a ui-sref="home" href="index.html"><img src="assets/logo-tm.svg"/></a>
    </div>

    <span ng-animate="'animated'" ng-click="showMenu = !showMenu; console.log('open')">
      <i ng-if="windowWidth < 935" class="fa fa-bars menu"></i>
    </span>

    <span ng-if="windowWidth >= 935 || showMenu" class="main-header">
      <ul class="primary-menu">


        <span dropdown>
          <li id="solutions" class="primary-menu-link-dropdown dropdown-link" dropdown-toggle ng-disabled="disabled">
            Solutions <span class="caret"></span>
          </li>

          <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="solutions">
            <li role="menuitem"><a ui-sref="mentalhealth">Mental Health</a></li>
            <li role="menuitem"><a ui-sref="salescoaching">Sales Coaching</a></li>
            <li role="menuitem"><a ui-sref="product">Other Solutions</a></li>
          </ul>
        </span>


        <!-- <span dropdown>
          <li id="company" class="primary-menu-link-dropdown dropdown-link" dropdown-toggle ng-disabled="disabled">
            Company <span class="caret"></span>
          </li>
          <ul class="dropdown-menu" dropdown-menu role="menu" aria-labelledby="company">
            <li role="menuitem"><a ui-sref="team">About</a></li>
            <li role="menuitem"><a ui-sref="contact">Contact Us</a></li>
          </ul>
        </span> -->

        <li class="primary-menu-link"><a ui-sref="contact">Contact Us</a></li>





      </ul>



      <li class="primary-menu-link nav-signin">
        <a href="https://app.myroadmap.io">Log In</a>
      </li>
      <li class="free-account">
        <a href="https://app.myroadmap.io/email-signup/">Create Account</a>
      </li>

    </span>





</header>
