<!-- <video  width="100%" autoplay loop bind-video-size>
  <source src="e.mp4" type="video/mp4">
</video>
<div class="jumbotron" ng-style="{'height':hc.dimensions.height}">
  <h1>Royal Business Academy</h1>
  <h2>Business Education and Mentoring Services for Young Adults Throughout the World</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ng-click="hc.goToAbout()">Learn More</button></h2>
</div> -->

<div class="jumbotron-sm">
  <!-- <h1>Help those you care about succeed.</h1> -->
  <h1>Helping you succeed.</h1>
  <h2>Assess progress and reach your goals.</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ui-sref="platform">Learn More</button></h2>
  <!-- <img src="assets/cartoon.png" /> -->
</div>

<div class="row logos-container">
    <div class="logo col-sm-2">
      <img src="../assets/company-logos/white/lds.png">
    </div>
    <div class="logo col-sm-2 hidden-xs">
      <img src="../assets/company-logos/white/rollinscenter.svg">
    </div>
    <div class="logo col-sm-2">
      <img src="../assets/company-logos/white/revroad.png">
    </div>
    <div class="logo col-sm-2">
      <img src="../assets/company-logos/white/warriorrising.png">
    </div>
    <div class="logo col-sm-2">
      <img src="../assets/company-logos/white/ballardcenter.svg">
    </div>
    <div class="logo col-sm-2">
      <img src="../assets/company-logos/white/az-crown.png">
    </div>
</div>






<div class="row mission-statement-container">
  <div class="col-md-8 col-md-push-2 mission-statement">
    <h2>What is MyRoadmap?</h2>
    <p>MyRoadmap is a software platform focused on helping people assess their progress towards and reach personal or professional goals. We do this by (1) defining a clear path (Roadmap); (2) providing a mechanism for self-assessment and accountability to a coach or mentor; and (3) increasing engagement with online content and support. <br> <b><i style="display:block; margin-top:15px;">Kollyn Lund, CEO</i></b></p>
  </div>
</div>

<div class="page-title">
</div>
	<div class="icons row">
		<div class="col-sm-4">
      <div class="icon-container">
        <i class="home-icon far fa-eye"></i>
  			<p>Clear Path</p>
      </div>
	  </div>
	  <div class="col-sm-4">
      <div class="icon-container">
        <i class="home-icon fas fa-chart-line"></i>
  			<p>Progress Insights</p>
      </div>
	  </div>
	  <div class="col-sm-4">
      <div class="icon-container">
        <i class="home-icon fas fa-user-check"></i>
  			<p>Accountability</p>
      </div>
	  </div>
  </div>

	</div>
</div>
