<div id="home">

  <div class="jumbotron-sm">
    <div class="jumbo-container">
      <h1>Measure and improve personal engagement</h1>
      <h2>
        <button type="button" class="btn btn-main btn-lg" ui-sref="contact">Request Demo</button>
        <a class="app-store" href="https://itunes.apple.com/us/app/myroadmap/id1436196692?mt=8" target="_blank"><img src="assets/app-store.svg" /></a>
        <a class="app-store" href="https://play.google.com/store/apps/details?id=io.myroadmap.myroadmap_android" target="_blank"><img src="assets/google-play.png" /></a>
      </h2>
    </div>
  </div>
  <div class="home-cover-0">
    <div class="home-cover-1">
      <div class="row" style="margin-bottom: 25px;">
        <div class="col-sm-6">
          <img class="engagement-icon" src="../assets/engagement-icon.png">
          <h2>Engagement platform</h2>
          <p>Engagement is the extent to which a person chooses to apply their talent, energy and care toward any effort. Improve the performance of your team by providing a safe way for them to develop critical core competencies.</p>
        </div>
        <div class="col-sm-6">
          <img class="laptop" src="../assets/laptop-graphic.png">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img class="home-icons" src="../assets/icons/search.svg">
          <h3>Self-assessment</h3>
          <p>MyRoadmap provides software and services that results in individual assessment of progress towards achieving goals and aligning with personal or professional values.</p>
        </div>
        <div class="col-sm-6">
          <img class="home-icons" src="../assets/icons/bar-chart.svg">
          <h3>Analytics</h3>
          <p>MyRoadmap provides analysis of individual and organization-wide assessments and user activity.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img class="home-icons" src="../assets/icons/communication.svg">
          <h3>Accountability</h3>
          <p>MyRoadmap promotes and facilitates constructive feedback from designated mentors, coaches, supervisors, and managers.</p>
        </div>
        <div class="col-sm-6">
          <img class="home-icons" src="../assets/icons/puzzle.svg">
          <h3>Custom content</h3>
          <p>MyRoadmap provides a mechanism for individuals and organizations to deliver custom content specific to their target outcomes.</p>
        </div>
      </div>
    </div>
  </div>

</div>








<!-- <div class="row mission-statement-container">
  <div class="col-md-4 mission-statement">
    <h2>What is MyRoadmap?</h2>
    <p>MyRoadmap is a software platform focused on helping people assess their progress towards and reach personal or professional goals. We do this by (1) defining a clear path (Roadmap); (2) providing a mechanism for self-assessment and accountability to a coach or mentor; and (3) increasing engagement with online content and support. <br> <b><i style="display:block; margin-top:15px;">Kollyn Lund, CEO</i></b></p>
  </div>
</div> -->

<!-- <video  width="100%" autoplay loop bind-video-size>
  <source src="e.mp4" type="video/mp4">
</video>
<div class="jumbotron" ng-style="{'height':hc.dimensions.height}">
  <h1>Royal Business Academy</h1>
  <h2>Business Education and Mentoring Services for Young Adults Throughout the World</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ng-click="hc.goToAbout()">Learn More</button></h2>
</div> -->
