<div id="solution">
	<div class="hero-img">
		<div class="hero-txt">
			<h1>Sponsored by The Cook Center for Human Connection</h1>
			<p>The Cook Center for Human Connection (a registered 501c3) has partnered with MyRoadmap to build and market our solutions for mental health applications worldwide.</p>
			<a href="https://cookcenterforhumanconnection.org/" target="_blank"><button class="cta-home">Learn More</button></a>
		</div>
	</div>

	<div class="main-txt">
		<h1>Sponsored by The Cook Center for Human Connection</h1>
		<p>The Cook Center for Human Connection (a registered 501c3) has partnered with MyRoadmap to build and market our solutions for mental health applications worldwide.</p>
		<button class="cta-home">Learn More</button>
	</div>

  <div class="content-wrapper" style="margin-bottom: 40px;">
		<img class="logo-icon" src="assets/icon.png">
		<h1>How We are making a difference in mental health</h1>
		<p>Our first project with <a href="https://cookcenterforhumanconnection.org/" target="_blank">The Cook Center for Human Connection</a> is ParentGuidance.org, which you can find more info about here: <a href="https://www.parentguidance.org" target="_blank">ParentGuidance.org.</a></p>
		<p>In addition, we partner with existing organizations who are making a postive impact in mental health. Some examples are wellness coaching, in person or out patient clinics, addiction recovery, homeless shelters, war veteran mentoring and more.</p>
	</div>

	<div class="row logos-container">
	    <div class="logo col-md-push-1 col-md-2">
	      <a href="https://www.bloomforwomen.com" target="_blank"><img src="../assets/company-logos/bloom-logo.png"></a>
	    </div>
	    <div class="logo col-md-push-1 col-md-2">
			<a href="https://www.pathformen.com" target="_blank"><img src="../assets/company-logos/Path-Logo.png"></a>
	    </div>
	    <div class="logo col-md-push-1 col-md-2">
			<a href="https://www.addorecovery.com" target="_blank"><img src="../assets/company-logos/addo-logo.png"></a>
		</div>
		<div class="logo col-md-push-1 col-md-2">
			<a href="https://www.warriorrising.org" target="_blank"><img src="../assets/company-logos/warriorrising.png"></a>
		</div>
		<div class="logo col-md-push-1 col-md-2">
			<a href="https://www.foodandcare.org" target="_blank"><img src="../assets/company-logos/facc.png"></a>
		</div>		
	</div>

	<div class="row" style="margin-bottom: 2em; width: 80%; margin: auto;">

		<div class="col-sm-4">
			<div class="box">
				<i class="far fa-eye icon"></i>
				<p class="features">Clear Vision</p>
				<p>Clients can visually see their progress. See the bigger picture while still working on the day to day tasks at hand.</p>
			</div>
		</div>
			<div class="col-sm-4">
				<div class="box">
					<i class="fas fa-people-carry icon"></i>
					<p class="features">Focus on Needs</p>
					<p>Coaches/therapist can quickly see where their clients need the most help.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="box">
					<i class="fas fa-hands-helping icon"></i>
					<p class="features">Accountability</p>
					<p>Coaches/therapists have access to clients Roadmap to follow up on assignments and action items.</p>
				</div>
			</div>

		</div>


		<div class="content-wrapper">
			<div class="testimonial">
				<p><i>"I love the idea of having a more visual way to evaluate our progress. It allows us to see more objectively the areas where we have made improvement (to feel proud of ourselves) and the areas where we need improvement to address more specifically."</i>  - MyRoadmap User</p>
				<p><i>"I like that I can go back to it when I need reassurance. Along the way, we struggle to be confident about ourselves. It is very easy to think that we are stuck. Seeing the facts, of what we have learned, the progress we have made and the constant support we get, is vital to take us out of those setbacks."</i>  - MyRoadmap User</p>
			</div>
		</div>




		<button class="cta-home" ui-sref="contact">Request demo</button>





</div>
