<div class="page-title">
	<h1>Our Product</h1>
</div>


<div id="solution" class="main-content page-container">

<div class="col-sm-4">
	<img class="phone" src="../assets/phone.png">
</div>
<div class="col-sm-8 hidden-xs">
	<img class="laptop" src="../assets/laptop.png">
</div>



	<div class="row">

			<div class="col-sm-3">
				<div class="box">
					<i class="fas fa-user-plus icon"></i>
					<p class="features">1. Sign Up</p>
					<p>Download the mobile app or sign up on any web browser.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<i class="fas fa-map icon" aria-hidden="true"></i>
					<p class="features">2. Choose Roadmap</p>
					<p>Use any roadmap within our library for free.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<i class="fas fa-hands-helping icon" aria-hidden="true"></i>
					<p class="features">3. Invite Coach</p>
					<p>Invite a friend or college to keep you accountable.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">
					<i class="far fa-eye icon" aria-hidden="true"></i>
					<p class="features">4. Start Assessing</p>
					<p>Follow your roadmap with your coach to reach your goals.</p>
				</div>
			</div>


		</div>










		<div class="row">


			<div class="col-sm-3">
				<div class="box">
					<i class="far fa-eye icon" aria-hidden="true"></i>
					<p class="features">Clear Vision</p>
					<p>Give everyone a clearly defined path for success.</p>
				</div>
			</div>
				<div class="col-sm-3">
					<div class="box">
						<i class="fa fa-book icon"></i>
						<p class="features">Roadmaps</p>
						<p>Choose from any of our roadmaps to get started. We can also help you transform your curriculum into trackable and measurable stages.</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box">
						<i class="fas fa-user-check icon" aria-hidden="true"></i>
						<p class="features">Provide Accountability</p>
						<p>When you follow up with people, they know you care, which increases engagement and progress.</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box">
						<i class="fa fa-line-chart icon" aria-hidden="true"></i>
						<p class="features">Track Progress</p>
						<p>Track progress for any user at any time. You can see what they need to do next so you know how best to help move them forward.</p>
					</div>
				</div>




			</div>

	<div class="row">




		</div>
			<button class="cta-home" ui-sref="roadmaps">View Our Roadmaps</button>

</div>
