<div class="page-title">
	<h1>Our Product</h1>
</div>


<div id="solution" class="main-content page-container">

	<div class="row" style="margin-bottom: 4em;">
		<div class="col-sm-9 col-sm-offset-1">
			<img class="laptop" src="../assets/laptop-phone.png">
		</div>
	</div>

	<div class="solution-cover-1">

		<div class="row">

				<div class="col-sm-4">
					<div class="box">
						<i class="far fa-map icon"></i>
						<p class="features">Simple to follow Roadmaps</p>
						<p>Our software modules/accountability paths, called Roadmaps, are comprised of the most important competencies, skills or key objectives team members need to develop in order to be successful. Team members can quickly see what's expected of them, have a sense of purpose and can visually see the progress they are making towards any given goal or milestone. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box">
						<i class="fas fa-pencil-ruler icon"></i>
						<p class="features">Custom content delivery</p>
						<p>The platform is easily customized to your content. Functionalities to help your team reach their goals include:
							<ul>
								<li>Custom learning Roadmaps</li>
								<li>Videos </li>
								<li>Quizzes </li>
								<li>Assessments </li>
								<li>Action items </li>
								<li>File attachments </li>
							</ul>
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box">
						<i class="fas fa-book icon"></i>
						<p class="features">Library of prebuilt Roadmaps</p>
						<p>As a MyRoadmap client, you have exclusive access to Roadmaps created by industry experts in sales, customer support and leadership across the country. Having a Roadmap built with expert insight will excite your team right out of the gate. </p>
					</div>
				</div>

			</div>

			<div class="row" style="margin-bottom: 1em;">

				<div class="col-sm-4">
					<div class="box">
						<i class="fas fa-mobile-alt icon"></i>
						<p class="features">Any device, anytime</p>
						<p>No matter where you are, MyRoadmap is there to support you. Download our iOS or Android app for use on your tablet or phone. When using your laptop, simply log into our website app.myroadmap.io. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box">
						<i class="fas fa-shield-alt icon"></i>
						<p class="features">Private labeling</p>
						<p>Want to white label our software to match your branding? We offer private labeling abilities and the option to create custom apps available for download on the iOS and Android app stores. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box">
						<i class="far fa-chart-bar icon"></i>
						<p class="features">Analytics dashboard</p>
						<p>For the first time ever, have total visibility into the strengths and weaknesses of your team. Be able to identify and address the critical skills gaps that exist within your organization. </p>
					</div>
				</div>

			</div>
	</div>

			<div class="row" style="margin-bottom: 1em;">

				<div class="col-sm-6">
					<div class="box">
						<i class="fas fa-brain icon"></i>
						<p class="features">Thought provoking assessments</p>
						<p>Using a simple red, yellow and green metaphor, users can reflect on where they are at in the learning process. Internal self reflection is a safe place that helps team member know where they are at and leaders to conduct crucial conversations to coach them.  Coaches have access to users Roadmaps to quickly see where they are struggling (red assessments) and where they feel they are succeeding (green assessments). </p>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="box">
						<i class="fas fa-users icon"></i>
						<p class="features">Increased accountability</p>
						<p>Each user is matched up with a coach within your organization who is responsible for the user’s success and progress. Our platform provides tools to facilitate an engaging relationship between these individuals and help close the skills gaps that exist for each user. Some of these tools are:
							<ul>
								<li>Comments </li>
								<li>Action items </li>
								<li>Due dates </li>
								<li>File attachments</li>
							</ul>
						</p>
					</div>
				</div>

			</div>


			<div class="row" style="margin-bottom: 2em;">

				<div class="col-sm-4">
					<div class="box">
						<i class="far fa-clock icon"></i>
						<p class="features">No time to build Roadmaps?</p>
						<p>Under your direction, let us quickly and effectively create custom Roadmaps for your organization.  </p>
					</div>
				</div>
					<div class="col-sm-4">
						<div class="box">
							<i class="fas fa-network-wired icon"></i>
							<p class="features">Integrations</p>
							<p>Worried about SSO or integrations? Our team can help with that. </p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box">
							<i class="far fa-handshake icon"></i>
							<p class="features">Implementation support</p>
							<p>When you sign up, you gain access to a dedicated customer success rep to help you maximize the value from your program.  </p>
						</div>
					</div>

				</div>

				</div>

			<button class="cta-home" ui-sref="contact">Request Demo</button>

</div>
