<div id="solution">
	<div class="hero-img">
		<div class="hero-txt">
			<h1>Make the engagement with your clients matter</h1>
			<p>Therapy, wellness, trauma and recovery coaching</p>
			<button class="cta-home" ui-sref="contact">Request demo</button>
		</div>
	</div>

	<div class="main-txt">
		<h1>Make the engagement with your clients matter</h1>
		<p>Therapy, wellness, trauma and recovery coaching</p>
		<button class="cta-home" ui-sref="contact">Request demo</button>
	</div>

  <div class="content-wrapper">
		<img class="logo-icon" src="assets/icon.png">
		<h1>Make your client's success more important than your own</h1>
		<p>Everyone needs a friends. Everyone needs to know that there is someone there to support them and hold them accountable to reaching their goals. When you are working with individuals who are struggling mentally, these principles are even more important.</p>
		<p>The MyRoadmap Engagement Platform&trade; is a formalized and structured methodology to measure and improve the personal engagement between a therapist/wellness coach and their clients. It helps hold both the client and their coach/therapist accountable by facilitating learning, feedback, communication, and engagement.</p>
	</div>

	<div class="row logos-container">
	    <div class="logo col-sm-push-3 col-sm-2">
	      <img src="../assets/company-logos/white/bloom.png">
	    </div>
	    <div class="logo col-sm-push-3 col-sm-2">
	      <img src="../assets/company-logos/white/path.png">
	    </div>
	    <div class="logo col-sm-push-3 col-sm-2">
	      <img src="../assets/company-logos/white/addo.png">
	    </div>
	</div>

	<div class="row" style="margin-bottom: 2em; width: 80%; margin: auto;">

		<div class="col-sm-4">
			<div class="box">
				<i class="far fa-eye icon"></i>
				<p class="features">Clear Vision</p>
				<p>Clients can visually see their progress. See the bigger picture while still working on the day to day tasks at hand.</p>
			</div>
		</div>
			<div class="col-sm-4">
				<div class="box">
					<i class="fas fa-people-carry icon"></i>
					<p class="features">Focus on Needs</p>
					<p>Coaches/therapist can quickly see where their clients need the most help.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="box">
					<i class="fas fa-hands-helping icon"></i>
					<p class="features">Accountability</p>
					<p>Coaches/therapists have access to clients Roadmap to follow up on assignments and action items.</p>
				</div>
			</div>

		</div>


		<div class="content-wrapper">
			<div class="testimonial">
				<p><i>"I love the idea of having a more visual way to evaluate our progress. It allows us to see more objectively the areas where we have made improvement (to feel proud of ourselves) and the areas where we need improvement to address more specifically."</i>  - MyRoadmap User</p>
				<p><i>"I like that I can go back to it when I need reassurance. Along the way, we struggle to be confident about ourselves. It is very easy to think that we are stuck. Seeing the facts, of what we have learned, the progress we have made and the constant support we get, is vital to take us out of those setbacks."</i>  - MyRoadmap User</p>
			</div>
		</div>




		<button class="cta-home" ui-sref="contact">Request demo</button>





</div>
