<div class="page-title faculty page-container">


				<div id="privacy-policy" class="main-content">

					<h2>SECURITY STATEMENT</h2><b style="margin-bottom:1.5em;">Updated on January 1, 2019</b>

					<p>MyRoadmap’s most important concern is the protection and reliability of Customer data. Our servers are protected by high-end firewall systems, and scans are performed regularly to ensure that any vulnerabilities are quickly found and patched. Complete penetration tests are performed yearly. All services have quick failover points and redundant hardware, with complete backups performed nightly.</p>

					<p>Our confidential system component design uses multiple checks to certify that packets from one subsystem can only be received by a designated subsystem. Access to systems is severely restricted to specific individuals, whose access is monitored and audited for compliance. Customer data are processed (stored, collected, retrieved) in a specific location known to the Customer.</p>

					<p>MyRoadmap uses Transport Layer Security (TLS) encryption (also known as HTTPS) for all transmitted data. Data may be protected with passwords and HTTP referrer checking. Our services are hosted by trusted data centers.</p>

					<p>Since our subscribers control their users and their data, it is important for the users to practice sound security practices by using strong account passwords and restricting access to their accounts to authorized persons.</p>

					<p>Regarding HIPAA, HITECH, and specific data types: MyRoadmap provides services where all data are processed equally, without regard to how a Customer might classify their data. As such, MyRoadmap cannot declare or represent any data entered into its services. Any processing of specific data types is purely incidental, and not required to use the services. HITECH (Health Information Technology for Economic and Clinical Health Act) updated HIPAA rules to ensure that data are properly protected and best security practices followed. MyRoadmap safeguards all Customer data and uses secure data centers to ensure the highest protection as per HITECH requirements.</p>

					<p>For  more information, please contact MyRoadmap Customer Support.</p>

			</div>

		</div>
</div>
