<div class="page-title faculty page-container">


	<h1>Solutions</h1>

				<div id="solution" class="main-content">


						<div class="row industry">
							<div class="col-sm-6" ui-sref="recoverycoaching">
								<div class="box">
									<i class="far fa-handshake icon" aria-hidden="true"></i>
									<p>Addiction Recovery</p>
								</div>
							</div>
							<div class="col-sm-6" ui-sref="salescoaching">
								<div class="box">
									<i class="fas fa-chart-line icon"></i>
									<p>Sales Coaching</p>
							  </div>
							</div>

						</div>

					<button class="cta-home" ui-sref="contact">Schedule a 15 minute demo</button>


			</div>





		</div>
</div>
