<div class="page-title faculty page-container">


	<h1>MyRoadmap Support</h1>

				<div id="solution" class="main-content">

						<h2 class="text-center">Need immediate help?<br> Call or text <b>801-900-1760</b></h2>

						<div class="row industry">
							<div class="col-sm-4" ng-click="fc.open('User Video')">
								<div class="box">
									<i class="fab fa-youtube icon"></i>
									<p>User Walk Through</p>
							  </div>
							</div>
							<div class="col-sm-4" ng-click="fc.open('Coach Video')">
								<div class="box">
									<i class="fab fa-youtube icon" aria-hidden="true"></i>
									<p>Coach Walk Through</p>
								</div>
							</div>
							<div class="col-sm-4" ng-click="fc.open('Admin Video')">
								<div class="box">
									<i class="fab fa-youtube icon" aria-hidden="true"></i>
									<p>Admin Walk Through</p>
								</div>
							</div>



			</div>





		</div>
</div>
