<div class="page-title faculty page-container">


	<h1>Company Manifesto</h1>

	<div class="row">


	<div class="col-sm-4">
		<div class="box">
			<i class="far fa-heart icon"></i>
			<p class="title">Keep it simple</p>
			<p>This way we can focus on making an amazing product for you.</p>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="box">
			<i class="fab fa-fort-awesome icon"></i>
			<p class="title">One great product</p>
			<p>Not 20 okay products. Why? We want to be proud of what we build.</p>
		</div>
	</div>


	<div class="col-sm-4">
		<div class="box">
			<i class="far fa-smile icon"></i>
			<p class="title">We are happy</p>
			<p>The journey is more important than the end goal.</p>
		</div>
	</div>

	<!-- <div class="col-sm-3">
		<div class="box">
			<i class="fas fa-crown icon"></i>
			<p class="title">We own the company</p>
			<p>We focus on helping our customers.</p>
		</div>
	</div> -->

</div>


		<div class="row">

			<h1>Team</h1>



			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Kollyn Lund')">
					<img src="assets/team/kollyn.png">
					<div class="details">
						<p class="name">Kollyn Lund</p>
						<p class="title">Founder/CEO</p>
				  </div>
				</div>
			</div>


			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Spencer Rogers')">
					<img src="assets/team/srogers.jpg">
					<div class="details">
						<p class="name">Spencer Rogers</p>
						<p class="title">Founder</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Derrin Hill')">
					<img src="assets/team/dhill.jpg">
					<div class="details">
						<p class="name">Derrin Hill</p>
						<p class="title">Sales</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Katie Nuckols')">
					<img src="assets/team/katie.jpg">
					<div class="details">
						<p class="name">Katie Nuckols</p>
						<p class="title">Design</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Bruce Hassler')">
					<img src="assets/team/bhassler.jpg">
					<div class="details">
						<p class="name">Bruce Hassler</p>
						<p class="title">CTO</p>
				  </div>
				</div>
			</div>


			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Rebecca Palmer')">
					<img src="assets/team/rebecca.png">
					<div class="details">
						<p class="name">Rebecca Palmer</p>
						<p class="title">Copywriter</p>
				  </div>
				</div>
			</div>


			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('AJ Rounds')">
					<img src="assets/team/arounds.jpg">
					<div class="details">
						<p class="name">AJ Rounds</p>
						<p class="title">CMO</p>
				  </div>
				</div>
			</div>




			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Steven Lund')">
					<img src="assets/team/slund.jpg">
					<div class="details">
						<p class="name">Steven Lund</p>
						<p class="title">Advisory Board</p>
				  </div>
				</div>
			</div>


		</div>








		</div>
</div>
