<div id="team">
	<div class="hero-img-team">
		<div class="hero-txt">
			<h1>We are committed to changing lives.</h1>
			<p>Far more important than making money is positively impacting lives. Our team is fully committed to this goal. You only get one opportunity to live this life and we think its worth doing something for a bigger reason than just money.</p>
		</div>
	</div>

	<div class="main-txt">
			<h1>Why are we doing this? Change lives.</h1>
			<p>Far more important than making money is positively impacting lives. Our team is fully committed to this goal. You only get one opportunity to live this life and we think its worth doing something for a bigger reason than just money.</p>
	</div>



	<div class="page-title faculty page-container">

	<div class="row">
			<h1>The Core Team</h1>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Bill Woahn')">
					<img src="assets/team/bill.png">
					<div class="details">
						<p class="name">Bill Woahn</p>
						<p class="title">CEO</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Spencer Rogers')">
					<img src="assets/team/srogers.jpg">
					<div class="details">
						<p class="name">Spencer Rogers</p>
						<p class="title">Founder</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Kollyn Lund')">
					<img src="assets/team/kollyn.png">
					<div class="details">
						<p class="name">Kollyn Lund</p>
						<p class="title">CTO</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="cards" ng-click="fc.open('Jon Sciammarella')">
					<img src="assets/team/jon.png">
					<div class="details">
						<p class="name">Jon Sciammarella</p>
						<p class="title">Sales</p>
					</div>
				</div>
			</div>







		</div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Where we came from</h1>
				<ul>
					<li>In 2015 co-founder Spencer Rogers started the Royal Business Academy, a business school in Prague. Spencer noticed his students received conflicting advice from mentors on how to grow their businesses. Spencer developed "The Roadmap" platform to give his students a clear path on how to be successful.</li>
					<li>Co-founder Kollyn Lund was a student at The Royal Business Academy  and began helping with  "The Roadmap" software while growing his own company called QuickStove. As the two built MyRoadmap software they were surprised by the amount of interest from other schools and organizations looking to solve the same issues they  encountered.</li>
					<li>There was so much interest in the software that Spencer and Kollyn decided to go full-time. The dynamic duo officially launched their  SaaS company called MyRoadmap in 2017 to deliver the benefits of  platform to organizations worldwide.</li>
				</ul>
			</div>
		</div>


	</div>
</div>
